server {
        listen   80 ;

        root /var/www/{{ item }};
        index index.html;

        server_name {{ item }};

        location ~ /\.git {
          deny all;
        }

        access_log /var/log/nginx/{{ item }}_access.log ;
        
}
